.collections {
  width: 80%;
  margin: auto;
  .container {
    display: flex;
    align-items: flex-start;
    margin: 1rem auto;
    justify-content: space-around;
    .title {
      width: 25rem;
      height: 12rem;
      font-weight: 700;
      font-size: 3.2rem;
      color: #1c252c;
      position: relative;
      .highlight {
        color: #a68cf1;
      }
      .underline {
        position: absolute;
        top: 8rem;
        left: 0;
      }
    }
    .description {
      width: 50%;
      color: #9f9f9f;
      // padding: 0 4.5rem;
      word-spacing: 1.5px;
      letter-spacing: 0.5px;
      line-height: 1.5;
      margin-bottom: 4.5rem;
      font-weight: 500;
      position: relative;
    }
  }
  .instruments {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
    padding-bottom: 3rem;
    .instrument {
      margin: 1rem;
      box-shadow: 50px 40px 200px 0 rgba(0, 0, 0, 0.1);
      padding: 3rem 2rem;
      border-radius: 20px;
      position: relative;
      z-index: 3;
      height: 25rem;
      img {
        max-width: 14rem;
        position: relative;
        z-index: 1;
      }
    }
    .instrument:hover {
      background: url("../../images/proBack_02.png") #a68cf1;
      object-fit: cover;

      .instrument-banner {
        bottom: 0.5rem;
        display: flex;
        // visibility: visible;
        // transform: scale(1, 1);
      }
    }
    .instrument:nth-child(odd) {
      margin-top: 4.5rem;
    }
  }
}

@media (max-width: 1200px) {
  .collections .container {
    flex-direction: column;
    align-items: center;
    .title {
      text-align: center;
      width: unset;
      height: unset;
      .underline {
        display: none;
      }
    }
    .description {
      width: 90%;
      text-align: center;
      margin-bottom: unset;
    }
  }
}
