.collections {
  width: 80%;
  margin: auto;
  .container {
    display: flex;
    align-items: flex-start;
    margin: 1rem auto;
    justify-content: space-around;
    .title {
      width: 25rem;
      height: 12rem;
      font-weight: 700;
      font-size: 3.2rem;
      color: #1c252c;
      position: relative;
      .highlight {
        color: #a68cf1;
      }
      .underline {
        position: absolute;
        top: 8rem;
        left: 0;
      }
    }
    .description {
      width: 50%;
      color: #9f9f9f;
      // padding: 0 4.5rem;
      word-spacing: 1.5px;
      letter-spacing: 0.5px;
      line-height: 1.5;
      margin-bottom: 4.5rem;
      font-weight: 500;
      position: relative;
    }
  }
  .instruments {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    .instrument {
      margin: auto;
      margin-left: 1rem;
      box-shadow: 50px 40px 200px 0 rgba(0, 0, 0, 0.1);
      padding: 2rem;
      border-radius: 20px;
      min-height: 25rem;
      img {
        max-width: 14rem;
      }
    }
    .instrument:hover {
      background: url("../../images/proBack_02.png") #a68cf1;
      object-fit: cover;
    }
    .instrument:nth-child(even) {
      margin-bottom: 8rem;
    }
  }
}
