.faq {
  padding: 6% 18%;
  text-align: center;
  margin-top: 2rem;
  h2 {
    position: relative;
    color: #1c252c;
    font-weight: 700;
    font-size: 3.5rem;
    margin: 0;
    line-height: 3.5rem;
    .highlight {
      color: #a68cf1;
    }
    .yellowQ,
    .purpleQ {
      position: absolute;
      bottom: 45%;
      right: 6%;
    }
    .purpleQ {
      top: 53%;
      left: 1%;
    }
  }
  p {
    color: #9f9f9f;
    word-spacing: 1.5px;
    letter-spacing: 0.5px;
    line-height: 1.8;
    margin: 2.5rem 6rem;
    font-size: smaller;
    font-weight: 600;
  }
  .list-items {
    padding: 2rem 3rem;
    .wrapper {
      background-color: #f5f5f5;
      border-radius: 1.5rem;
      padding: 2rem;
      margin-bottom: 1rem;
      .question {
        color: #1c252c;
        font-weight: 700;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        .toggleIcon {
          color: #a68cf1;
        }
      }

      .answer {
        margin-top: 1rem;
        border-top: 1px solid rgba(0, 0, 0, 0.12);
        color: #9f9f9f;
        padding-top: 1.2rem;
        text-align: left;
        word-spacing: 1.5px;
        letter-spacing: 0.5px;
        line-height: 1.8;
        display: none;
        transition: display 0.5s rotate;
      }
      .show {
        display: block;
      }
    }
  }
}

@media (max-width: 1200px) {
  .faq {
    padding: 0 0.75rem;
    .container {
      h2 {
        font-size: 2.8rem;
      }
      p {
        font-size: 0.85rem;
      }
      .list-items .wrapper {
        .question {
          font-size: 0.9rem;
        }
        .answer {
          font-size: 0.85rem;
        }
      }
    }
  }
}
