.studio {
  background: #1c252c;
  position: relative;
  margin: auto;
  padding: 4rem 1rem;
  .proback {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1;
    object-fit: cover;
  }
  .container {
    position: relative;
    text-align: center;
    z-index: 3;
    max-width: 1300px;
    margin: auto;
    .title {
      h2 {
        font-weight: 700;
        font-size: 3.2rem;
        margin: 0;
        margin-bottom: 0.5rem;
      }
      .highlight {
        color: #a68cf1;
      }
      .details {
        width: 50%;
        margin: auto;
        color: #9f9f9f;
        word-spacing: 1.5px;
        letter-spacing: 0.5px;
        line-height: 1.8;
        margin-bottom: 2.5rem;
        font-size: smaller;
        // padding: 0 5rem;
      }
    }
    .map-section {
      position: relative;
      .mapBg {
        width: 90%;
      }
      .arrow1 {
        position: absolute;
        top: 5.8rem;
        right: 35%;
        width: 14%;
      }
      .arrow2 {
        position: absolute;
        top: -4rem;
        left: 16.8rem;
      }
      .map-card {
        position: absolute;
        width: 236px;
        background: #fff;
        color: #1c252c;
        font-size: smaller;
        padding: 0.8rem;
        border-radius: 1rem;
        display: flex;
        flex-direction: column;
        text-align: left;
        h4 {
          margin-bottom: 0;
        }
        .studio-image {
          width: 210px;
        }
      }
      .card-position_1 {
        top: 5.8rem;
        left: 10.2rem;
      }
      .card-position_2 {
        top: 2.9rem;
        right: 11.8rem;
      }
    }
  }
}

@media only screen and (max-width: 1000px) {
  .studio {
    .container {
      .title {
        h2 {
          font-size: 2.8rem;
        }
        .details {
          font-size: 0.8rem;
          margin: 2.5rem auto;
        }
      }
    }

    .map-section {
      display: flex;
      flex-direction: column;
      align-items: center;
      .mapBg,
      .arrow1,
      .arrow2 {
        display: none;
      }
      .map-card {
        position: unset !important;
        margin: 0 2rem 2rem 2rem;
        h4,
        p,
        .getDirection {
          font-size: 0.8rem;
        }
      }
    }
  }
}
