.header {
  padding: 0 2rem;
  background: #a68cf1;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 100;
  .container {
    padding: 1rem 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    .logo {
      cursor: pointer;
      .logo-image {
        width: 35px;
        vertical-align: middle;
        margin: 0 8px;
      }
      .logo-title {
        font-size: 20px;
        font-weight: 600;
      }
    }
  }
  .nav-items {
    display: flex;
    list-style: none;
    width: 420px;
    justify-content: space-between;
    font-size: smaller;
    font-weight: 600;
    .nav-item {
      cursor: pointer;
      a {
        text-decoration: none;
        list-style: none;
        color: inherit;
      }
    }
  }
}
