.button {
  width: 120px;
  height: 100%;
  background: #1c252c;
  color: #fff;
  font-family: inherit;
  border: 0;
  border-radius: 8px;
  font-weight: 600;
}

.search {
  width: 95px;
  height: 45px;
  margin-right: 8px;
}
