.product-details-card {
  width: 70%;
  background: #fff;
  margin: auto;
  position: relative;
  top: -8rem;
  border-radius: 2.3rem;
  z-index: 5;
  .container {
    padding: 4.5rem 4.5rem 0 4.5rem;
    text-align: center;
    .pd-title {
      margin-bottom: 1.5rem;
      font-weight: 700;
      font-size: 3.2rem;
      color: #a68cf1;
      .first-word {
        color: #1c252c;
      }
    }
    .pd-description {
      color: #9f9f9f;
      padding: 0 8.5rem;
      word-spacing: 1.5px;
      letter-spacing: 0.5px;
      line-height: 1.5;
      margin-bottom: 4.5rem;
      font-weight: 500;
    }
    .card-group {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      .card {
        width: 350px;
        margin: 0 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1rem 1.5rem;
        border-radius: 10%;
        h4 {
          color: #1c252c;
          margin: 0;
        }
        p {
          color: #9f9f9f;
          word-spacing: 1.5px;
          line-height: 1.5;
          font-weight: 500;
        }
      }
      .card:hover {
        box-shadow: 50px 40px 200px 0 rgb(0 0 0 / 10%);
      }
    }
  }
}

@media (max-width: 1440px) {
  .product-details-card {
    width: 80%;
  }
}
@media (max-width: 1200px) {
  .product-details-card {
    width: 90%;
    .container {
      .pd-title {
        font-size: 2.8rem;
      }
      .pd-description {
        padding: unset;
        margin: unset;
        font-size: 0.85rem;
      }
      .card-group {
        .card {
          h4 {
            font-size: 0.9rem;
          }
          p {
            font-size: 0.85rem;
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .product-details-card {
    top: -5rem;
  }
}
