.banner {
  height: 50rem;
  background: #a68cf1;
  position: relative;
  padding-top: 10rem;
  // position: relative;

  .container {
    max-width: 1300px;
    position: relative;
    margin: auto;
    .image-bg-container {
      position: absolute;
      top: -3rem;
      right: 0;
      .background {
        height: 1000px;
        position: absolute;
        right: 25%;
        top: -85px;
        z-index: 3;
      }
      .man-img {
        height: 700px;
        position: absolute;
        right: 18%;
        top: 12%;
        z-index: 4;
      }
    }
    .description {
      width: 700px;
      padding: 8px;
      margin: 1rem;
      .description-container {
        position: relative;
        z-index: 4;
        left: 2rem;
        display: flex;
        flex-direction: column;
        .main {
          font-weight: 700;
          font-size: 52px;
          letter-spacing: 2px;
          margin-bottom: 5px;
        }
        .inner {
          p {
            display: inline-block;
            font-size: 18px;
            font-weight: 500;
            word-spacing: 3px;
            line-height: 2;
          }
        }
        .search-product-card {
          display: flex;
          align-items: center;
          justify-content: space-between;
          background: #fff;
          border-radius: 16px;
          padding: 0.75rem;
          width: 85%;
          .product-detail {
            position: relative;
            padding: 0.75rem;
            h5 {
              margin: 0;
              color: #9f9f9f;
              padding-bottom: 5px;
            }
            h4 {
              color: #1c252c;
              margin: 0;
            }
          }
          .product-detail::after {
            content: "";
            position: absolute;
            right: -24px;
            top: 20px;
            width: 1px;
            height: 34px;
            background: #d3d3d3;
            margin: 0 1rem;
          }

          .product-detail:last-child::after {
            width: 0;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .banner {
    .container {
      max-width: 90%;
    }
  }
}

@media (max-width: 1000px) {
  .banner {
    padding-top: 8rem;
    .container {
      .image-bg-container {
        right: 5rem;
        .man-img {
          display: none;
        }
      }
      .description {
        width: 90%;
        .description-container {
          flex-direction: column;
          align-items: center;
          text-align: center;
          left: 0;
          .main {
            font-size: 3rem;
          }
          .inner {
            font-size: 1rem;
          }
          .search-product-card {
            flex-flow: wrap;
            padding: 0;
            .product-detail {
              flex: 0 0 45%;
              h5 {
                font-size: 0.75rem;
              }
              h4 {
                font-size: 0.9rem;
              }
            }
            .product-detail:nth-child(even)::after {
              width: 0;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 550px) {
  .banner {
    height: 58rem;
    padding-top: 5rem;
    .container {
      .description {
        padding: 0;
        .description-container {
          .search-product-card {
            width: 100%;
            .product-detail {
              padding: 0.5rem;
              h5 {
                font-size: 0.6rem;
              }
              h4 {
                font-size: 0.65rem;
              }
              search {
                padding: 0.75rem 0.5rem;
                margin: 0;
              }
            }
            .product-detail::after {
              top: 8px;
            }
          }
        }
      }
    }
  }
}
